#jobs-fragment-recommendation {
  width: 400px;
  height: 220px;
  background-color: white;
  border-radius: 10px;
  color: black;
}

#jobs-fragment-recommendation h2 {
  margin: 0;
  padding: 20px;
}
